#body {
    background: none;
}
.mini-nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    position: sticky;
    top: 0;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 15px;
}

footer {
    text-align: center;
    position: sticky;
    bottom: 0;
}