<!DOCTYPE html>
<%- include('../partials/head') %>
<body id="body">
    <header>
        <h2>Admin Dashboard</h2>
        <% if(firstName) { %>
            <div>Hello <%= firstName %> </div>
        <% } %>
    </header>
    <main>
        <nav class="side-bar">
            <ul>
                <li>Dashboard</li>
                <li>Books</li>
                <li>Users</li>
                <li>Logout</li>
            </ul>
        </nav>
        <section></section>
    </main>
        
    <!-- <%- include('../partials/foot') %> -->
    <script id="toast-data" type="application/json">
    <%- JSON.stringify({
        success: success || []
    }) %>
    </script>
    <script src="/javascript/toast.js"></script>
</body>
</html>