<!DOCTYPE html>
<%- include('../partials/head') %>
<body>
    <div id="form-content">
        <form action="/api/admins/forgotten-password" method="post" id="form" novalidate>
            <div class="msg">
                <h2>Forgot Password?</h2>
            </div>
            <div class="input-style">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="msgs email-msg"></div>
            </div>
            <div class="btn">
                <div>
                    <input type="submit" value="Reset Link">
                </div>
                <div>
                    <a href="/api/admins/login"><input type="button" value="Return to login"></a>
                </div>
            </div>
        </form>
    </div>
    
    <%- include('../partials/foot') %>
    <script src="/javascript/admin/forgot.js"></script>
</body>
</html>