<!DOCTYPE html>
<%- include('../partials/head') %>
<body>
    <div id="form-content">
        <form action="/api/admins/login" method="post" id="form">
            <div class="msg">
                <h2>Admin Login</h2>
            </div>
            <div class="input-style">
                <input type="email" name="email" id="email" placeholder="Email" required>
                <div class="error email-error"></div>
            </div>
            <div class="input-style">
                <input type="password" name="password" id="password" placeholder="Password" required>
                <i class="fa fa-eye"></i>
                <div class="error password-error"></div>
            </div>
            <div class="btn">
                <div>
                    <input type="submit" value="Login">
                </div>
                <div>
                    <a href="#"><input type="button" value="Forgot Password?"></a>
                </div>
            </div>
        </form>
    </div>

    <script src="/javascript/admin/login.js"></script>
</body>
</html>