<!DOCTYPE html>
<%- include('../partials/head') %>

<body class="min-h-screen flex flex-col bg-cover bg-center"
style="background-image: url('/images/jonathan-francisca-BpbkLACP64M-unsplash.jpg')">

    <main class="grow flex items-center justify-center">

    <%- body %>

    </main>

    <%- include('../partials/foot') %>

    <%- include('../partials/toast') %>

</body>
</html>